h1 {
    text-align: center;
    color: #5c5137
}

p {
    text-align: center;
    text-decoration: underline;
}

.locations {
    background-color: #5c5137;
    color: #FFFF;
    text-align: center;
}

.card-header {
    background-color: #5c5137;
    color: #FFFF;
}

.form-check-input {
   align-items: center;
}

